<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						

						<table class="table-hover">
							<thead>
								<tr>
								<th>wfjoiwefjowifjow</th>
								<th>wfjoiwefjowifjow</th>
								<th>wfjoiwefjowifjow</th>
								<th>wfjoiwefjowifjow</th>
								<th>wfjoiwefjowifjow</th>
								<th>wfjoiwefjowifjow</th>
								<th>wfjoiwefjowifjow</th>
								<th>wfjoiwefjowifjow</th>
								<th>wfjoiwefjowifjow</th>
								<th>wfjoiwefjowifjow</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
								</tr>
								<tr>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
								</tr>
								<tr>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
								</tr>
								<tr>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
								</tr>
								<tr>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
								</tr>
								<tr>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
								</tr>
								<tr>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
								</tr>
								<tr>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
								</tr>
								<tr>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
								</tr>
								<tr>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
									<td>wfwefwfwfowkpfkwpfkpwkfpo</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	td, th {
		text-align: center;
	}
	.table-bordered thead td, .table-bordered thead th {
		border-bottom-width: 1px;
	}
</style>

<script type="text/javascript">
    $('table').fixedHeaderTable({ footer: true, cloneHeadToFoot: true, fixedColumn: true });
</script>