body.pages.home {
	#wrapper_home_top {
		height: 100vh;
		width: 100%;
		margin-left: 48px;
		position: relative;
		padding-bottom: 80px;
		.number_title_wrapper {
			height: 47px;
			margin-top: 22px;
		}
		.section_number {
			height: 100%;
			line-height: 47px;
			width: 103px;
			margin-left: 22px;
			h2 {
				font-size: 77px;
				color: $mainRed;
			}				
		}
		.section_title {
			height: 100%;
			margin: 0px;
  		border-left: 1px solid red;
  		padding-left: 16px;
			h2 {
				margin-bottom: 0px;
				font-size: 20px;
				color: $mainRed;	
			}
		}
		.paragraph_wrapper {
			width: 460px;
			padding: 30px 25px 40px 30px;
			margin-top: 22px;
			background: $mainRed;
			color: white;
			h3, p {
				font-size: 14px;	
			}
		}
		.root {
			background: white;
			position: absolute;
			top: 372px;
			@media only screen and (min-width: 1600px) {
				top: 418px;
			}
			// bottom: 80px;
			#see_more_btn {
				position: absolute;
		    bottom: -20px;
		    left: 30px;
			}
		}
	} // wrapper1 END
	
	ul.slider {
		li {
			height: calc(100%);
			width: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: top;
			z-index: -1;
			// opacity: 0;
			list-style: none;
			/*-- Add animation --*/ 
			// animation: fade-out 24s infinite both;
		}
		li.index-bg2 {
			// animation-delay: 6s;
		}
		li.index-bg3 {
			// animation-delay: 12s;
		}
		li.index-bg4 {
			// animation-delay: 18s;
		}
	}
}

@keyframes fade-out {
	25%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
}