<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="card ">

					<div class="card-header card-header-info card-header-icon">
						<div class="card-icon">
							<i class="material-icons">info_outline</i>
						</div>
						<h4 class="card-title">編輯<%= Story.model_name.human %></h4>
					</div>
					<%= render "form", story: @story %>
				</div>
			</div>
		</div>
	</div>
</div>