<section id="wrapper" class="contact_us d-flex align-content-end flex-column">
	<div class="section_title_wrapper align-self-center">
		<img src="/img/contact_us.svg", height="60px">
	</div>
	<div id="contact_us_wrapper" class="d-flex justify-content-end flex-wrap align-self-center animated" data-animated="tada">
		<%= image_tag "/img/contact_success.svg", id: "contact_success_svg", class: "align-self-center" %>
		<div id="contact_form_wrapper">
			<%= form_with url: contact_us_path, class: "d-flex flex-column" do |f| %>
			<!-- <form action="/contact" method="post" data-remote="true" id="contact_form" class="d-flex flex-column"> -->
				<div class="input_wrapper">
					<label for="name">Name *</label>
					<input type="text" name="contact[name]" required>
				</div>
				<div class="input_wrapper">
					<label for="title">Title</label>
					<input type="text" name="contact[title]">
				</div>
				<div class="input_wrapper">
					<label for="organization">Organization *</label>
					<input type="text" name="contact[organization]" required>
				</div>
				<div class="input_wrapper">
					<label for="phone">Phone *</label>
					<input type="tel" name="contact[phone]" required>
				</div>
				<div class="input_wrapper">
					<label for="fax">Fax</label>
					<input type="tel" name="contact[fax]">
				</div>
				<div class="input_wrapper">
					<label for="email">Email *</label>
					<input type="email" name="contact[email]" required>
				</div>
				<div class="input_wrapper">
					<label for="content">Content *</label>
					<textarea name="contact[content]" rows="10" required></textarea>
				</div>
				<div class="input_wrapper">
					<label for="submit" class="invisible"></label>
					<%= f.button "SEND", data: { disable_with: "Sending..." }, id: "see_more_btn", class: "submit align-self-end" %>				
				</div>
			<% end %>
		</div>
	</div>
</section>