<a href="/contact" id="contact_btn" class="text-right">
	<%= image_tag "/img/contact.svg", height: '100px'; %>
</a>

<section id="wrapper1" class="d-flex align-content-end flex-column">
	<div class="d-flex number_title_wrapper mt-auto">
		<div class="section_number d-flex">
			<h2 class="v700 align-self-center">01</h2>
		</div>
		<div class="section_title">
			<h2 class="v700">LIFE SCIENCE</h2>
			<h2 class="v700">ANIMAL SCIENCE</h2>
		</div>
	</div>
	<div class="paragraph_wrapper">
		<h3 class="v300">Sales of various laboratory equipment and supplies</h3>
		<br>
		<p class="v300 mb-0">
			Such as DNA nucleic acid amplification (PCR), carbon dioxide / three-gas incuba- tor, centrifuges, dry bath, biosafety operation cabinets, ultra-low temperature refrigerators, acid and alkali analyzers, electrophoresis equipment, autoclaves, pure water manufacturing machines, Multifunctional liquid separator, digital type refractive index meter, ABBE folding device, polarimeter, ultrasonic cleaner, agitator, balance, various types of analyzers and measuring devices, PVC gloves, glass products, filter membrane, PH test paper, Needle filters, as well as a variety of plastic products and many other products.
		</p>
	</div>
	<div id="see_more_btn" class="d-flex">
		<div class="mr-auto align-self-center see_more_text v700">SEE MORE</div><div class="align-self-center" id="triangle-right"></div>
	</div>
</section>

<section id="wrapper2" class="d-flex justify-content-center flex-column">
	<div class="section_title_wrapper align-self-center">
		<img src="/img/news.svg", height="70px">
	</div>
	<div id="news_bg_wrapper" class="w-100">
		<img src="/img/news_static/10@2x.png" width="100%;">
		<img src="/img/news_static/11@2x.png" width="100%;">
		<img src="/img/news_static/12@2x.png" width="100%;">
		<img src="/img/news_static/13@2x.png" width="100%;">
		<img src="/img/news_static/15@2x.png" width="100%;">
		<img src="/img/news_static/16@2x.png" width="100%;">
		<img src="/img/news_dynamic/2@2x.png" width="100%;" class="fading delayed">
		<img src="/img/news_dynamic/3@2x.png" width="100%;" class="fading">
		<img src="/img/news_dynamic/4@2x.png" width="100%;" class="fading delayed">
		<img src="/img/news_dynamic/5@2x.png" width="100%;" class="fading">
		<img src="/img/news_dynamic/6@2x.png" width="100%;" class="fading delayed">
		<img src="/img/news_dynamic/7@2x.png" width="100%;" class="fading">
		<img src="/img/news_dynamic/8@2x.png" width="100%;" class="fading delayed">
		<img src="/img/news_dynamic/9@2x.png" width="100%;" class="fading">
	</div>
	<div id="news_wrapper" class="d-flex justify-content-center">
		<div class="news">
			<div class="news_img"></div>
			<p class="news_date v700 mb-0">2011.03.30</p>
			<h5 class="news_title v700 mb-0">Exclusive Agent Sparmed Oosafe series products.</h5>
		</div>
		<div class="news">
			<div class="news_img"></div>
			<p class="news_date v700 mb-0">2011.03.30</p>
			<h5 class="news_title v700 mb-0">Welcome to ASTEC factory to visit HONG U Scientific Corp.</h5>
		</div>
		<div class="news">
			<div class="news_img"></div>
			<p class="news_date v700 mb-0">2011.03.30</p>
			<h5 class="news_title v700 mb-0">Exclusive Agent Sparmed Oosafe series products</h5>
		</div>
	</div>
	<div id="see_more_btn" class="d-flex align-self-center">
		<div class="mr-auto align-self-center see_more_text v700">SEE MORE NEWS</div><div class="align-self-center" id="triangle-right"></div>
	</div>
</section>

<section id="wrapper3" class="d-flex justify-content-center flex-column mx-auto">
	<div class="section_title_wrapper align-self-center">
		<img src="/img/products.svg", height="70px">
	</div>
	<div id="home_product1">
		<div class="d-flex home_product_wrapper">
			<div class="d-flex home_product_text flex-wrap">
				<div class="d-flex number_title_wrapper">
					<div class="section_number d-flex">
						<h2 class="v700 align-self-center">01</h2>
					</div>
					<div class="section_title">
						<h2 class="v700">LIFE SCIENCE</h2>
						<h2 class="v700">ANIMAL SCIENCE</h2>
					</div>
				</div>
				<div class="paragraph_wrapper">
					<p class="v300 mb-0">
						Sales of various laboratory equipment and supplies
						<br><br>
						Such as DNA nucleic acid amplification (PCR), carbon dioxide / three&#8208;gas incubator, centrifuges, dry bath, biosafety opera&#8208;tion cabinets, ultra&#8208;low temperature refrigerators, acid and alkali analyzers, electrophoresis equipment, autoclaves, pure water manufacturing machines, Multifunctional liquid separa&#8208;tor, digital type refractive index meter, ABBE folding device, polarimeter, ultrasonic cleaner, agitator, balance, various types of analyzers and measuring devices, PVC gloves, glass products, filter membrane, PH test paper, Needle filters, as well as a variety of plastic products and many other products
					</p>
				</div>
			</div>
			<div id="see_more_btn" class="d-flex">
				<div class="mr-auto align-self-center see_more_text v700">SEE MORE</div><div class="align-self-center" id="triangle-right"></div>
			</div>
		</div>
	</div>
	<div id="home_product2">
		<div class="d-flex home_product_wrapper">
			<div class="d-flex home_product_text flex-wrap">
				<div class="d-flex number_title_wrapper">
					<div class="section_number d-flex">
						<h2 class="v700 align-self-center">02</h2>
					</div>
					<div class="section_title">
						<h2 class="v700">REPRODUCTIVE<br>MEDICINE</h2>
					</div>
				</div>
				<div class="paragraph_wrapper">
					<p class="v300 mb-0">
						The Division is responsible for the sale and sale of advanced instruments and reagent consumables related to infertility and reproductive technology.
						Equipment covers: incubators, thermostats, micromanipula- tors, and embryonic incubation laser assist systems, etc.
						Consumables cover: quality certified vitrified frozen/thawed reagents, embryonic culture fluids, specialized petri dishes and reproductive surgery-related OPU, IUI, ET tubes and other products.
						Laboratory environmental quality control products: VOC filtered air purifier, VOC online filter and non-toxic detergent.
					</p>
				</div>
			</div>
			<div id="see_more_btn" class="d-flex">
				<div class="mr-auto align-self-center see_more_text v700">SEE MORE</div><div class="align-self-center" id="triangle-right"></div>
			</div>
		</div>
	</div>
	<div id="home_product3">
		<div class="d-flex home_product_wrapper">
			<div class="d-flex home_product_text flex-wrap">
				<div class="d-flex number_title_wrapper">
					<div class="section_number d-flex">
						<h2 class="v700 align-self-center">03</h2>
					</div>
					<div class="section_title">
						<h2 class="v700">LIFE SCIENCE</h2>
						<h2 class="v700">ANIMAL SCIENCE</h2>
					</div>
				</div>
				<div class="paragraph_wrapper">
					<p class="v300 mb-0">
						Sales of various laboratory equipment and supplies
						<br><br>
						Such as DNA nucleic acid amplification (PCR), carbon dioxide / three&#8208;gas incubator, centrifuges, dry bath, biosafety opera&#8208;tion cabinets, ultra&#8208;low temperature refrigerators, acid and alkali analyzers, electrophoresis equipment, autoclaves, pure water manufacturing machines, Multifunctional liquid separa&#8208;tor, digital type refractive index meter, ABBE folding device, polarimeter, ultrasonic cleaner, agitator, balance, various types of analyzers and measuring devices, PVC gloves, glass products, filter membrane, PH test paper, Needle filters, as well as a variety of plastic products and many other products
					</p>
				</div>
			</div>
			<div id="see_more_btn" class="d-flex">
				<div class="mr-auto align-self-center see_more_text v700">SEE MORE</div><div class="align-self-center" id="triangle-right"></div>
			</div>
		</div>
	</div>
	<div id="home_product4">
		<div class="d-flex home_product_wrapper">
			<div class="d-flex home_product_text flex-wrap">
				<div class="d-flex number_title_wrapper">
					<div class="section_number d-flex">
						<h2 class="v700 align-self-center">04</h2>
					</div>
					<div class="section_title">
						<h2 class="v700">REPRODUCTIVE<br>MEDICINE</h2>
					</div>
				</div>
				<div class="paragraph_wrapper">
					<p class="v300 mb-0">
						The Division is responsible for the sale and sale of advanced instruments and reagent consumables related to infertility and reproductive technology.
						Equipment covers: incubators, thermostats, micromanipula- tors, and embryonic incubation laser assist systems, etc.
						Consumables cover: quality certified vitrified frozen/thawed reagents, embryonic culture fluids, specialized petri dishes and reproductive surgery-related OPU, IUI, ET tubes and other products.
						Laboratory environmental quality control products: VOC filtered air purifier, VOC online filter and non-toxic detergent.
					</p>
				</div>
			</div>
			<div id="see_more_btn" class="d-flex">
				<div class="mr-auto align-self-center see_more_text v700">SEE MORE</div><div class="align-self-center" id="triangle-right"></div>
			</div>
		</div>
	</div>
</section>