#contact_btn {
	position: fixed;
	width: 100px;
	& > img {
		height: 100px;
	}
	@media only screen and (max-width: 768px) {
		width: 66px;
		& > img {
			height: 66px;
		}
	}
	right: 30px;
	bottom: 34px;
	// top: 666px;
	z-index: $zindex-tooltip + 1; // 1071 配合 menu
}