$color-brand: #ef0105;
$brand-rose: $color-brand;

.btn.btn-rose {
	background-color: $color-brand;
  border-color: $color-brand;	
  &:focus, &:hover, &:active:focus {
		background-color: hsla(364, 99%, 47%, 1);
    border-color: hsla(359, 99%, 10%, 1);
  }
}
.user-info {
	margin-left: 56px;
}
.thumbnail img {
	max-width: 200px;
}
.sidebar[data-color=rose] li {
	& > a {
		font-weight: 400;
	}
	&.active > a {
		background-color: $color-brand;
	}
}
.nav-pills.nav-pills-rose .nav-item .nav-link.active {
	background-color: $color-brand;
	&:focus {
		background-color: $color-brand;
	}
}
.sidebar-wrapper {
	div.collapse, div.collapsing {
		& > ul.nav > li.nav-item {
			& > div.collapse, & > div.collapsing {
				padding-left: 10px;
			}
		}
	}
}
.sidebar .nav li.nav-item p {
	white-space: pre-line;
}

.form-group {
	margin-bottom: 12px;
}