$color-brand: #e91e63;

.togglebutton label input[type=checkbox]:checked + .toggle.bg-brand {
	background-color: $color-brand !important;
	&:after {
		border-color: $color-brand !important;
	}
}

.btn-brand {
	background-color: $color-brand !important;
	border-color: $color-brand !important;
	box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12);
}

.fileinput .thumbnail img {
	width: 100%;
}

div.dataTables_processing { z-index: 1; }

.truncate {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 414px) {
	.paginate_button.page-item {
		display: none;
		&.first, &.previous, &.next, &.last {
			display: initial;
		}
	}
}

.card .card-header .card-icon.newBtn {
	// @extend .btn-primary;
	background: #9c27b0;
	border-color: #9c27b0;
	color: white;
	box-shadow: 0 2px 2px 0 rgba(156,39,176,.14), 0 3px 1px -2px rgba(156,39,176,.2), 0 1px 5px 0 rgba(156,39,176,.12);
	margin-right: 0px;
}