<div class="content">
	<div class="container-fluid">
		<div class="card ">
			<div class="card-header card-header-info card-header-icon">
				<div class="card-icon">
					<i class="material-icons">info_outline</i>
				</div>
				<h4 class="card-title"><%= I18n.t("text.#{action_name}") %><%= Variety.model_name.human %></h4>
			</div>
			<%= render "form", variety: @variety %>
		</div>
	</div>
</div>