body.pages.contact_us {
	.main_wrapper {
		max-width: 100%;
		background-image: url("/img/contact_bg.jpg");
		background-size: cover;
		background-repeat: no-repeat;	
		background-position: top;
	}
	.toggler {
		background: linear-gradient(to right, #ef0105 0%, #ffd2ad 100%);
	}
	#contact_btn {
		display: none;
	}
	#wrapper {
		padding-top: 110px;
		position: relative;
		min-height: 100vh;
		.section_title_wrapper {
			z-index: $zindex-dropdown; // 1000
		}
		#contact_success_svg {
			opacity: 0;
			transition: .5s;
			position: absolute;
			height: 210px;
			left: 50%;
			transform: translateX(-50%);
			z-index: -10;
			-vendor-animation-duration: 2s;
			&.success {
				opacity: 1;
				transition: .5s;
				transform: translateX(-50%);
				z-index: $zindex-tooltip;
			}
		}
	}
	#contact_us_wrapper {
		width: 964px;
		height: 614px;
		margin-top: -20px;
		background: url("/img/contact_form_bg.png"), $mainRed;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left;
		#contact_form_wrapper {
			margin-right: 50px;
			margin-top: 90px;
		}
		form {
			.input_wrapper {
				text-align: right;
				&:not(last-child) { margin-bottom: 10px; }
			}
			label {
				line-height: 20px;
				margin-bottom: 0px;
				vertical-align: top;
				color: white;
				font-size: 18px;
			}
			input, textarea {
				width: 240px;
				margin-left: 15px;
				border: none;
				border-radius: 2px;
			}
			#see_more_btn.submit {
				border: none;
				color: white;
				height: 32px;
				width: 240px;
				&:focus {
					outline: 1px solid white;
					box-shadow: 0px 0px 10px white;
				}
				&:after {
					top: 0px;
					height: 32px;
				}
			}
		}
	}
	@media only screen and (max-width: 768px) {
		.main_wrapper {
			background-position: -1160px;
		}
		#wrapper {
			padding-top: 190px;
		}
		#contact_us_wrapper {
			margin-top: -28px;
			width: 100%;
			height: 100%;
			background-position: bottom;
			background-image: none;
			#contact_form_wrapper {
				margin: 90px 0px;
				margin-bottom: 140px;
				width: 100%;
				form {
					.input_wrapper {
						display: flex;
						padding-right: 24px;
						label {
							flex: 0 0 125px;
						}
						input, textarea {
							flex: 1 1 auto;
							margin-left: 10px;
						}
					}
					#see_more_btn.submit {
						width: auto;
					}
				}
			}
		}
	}
}