body.pages.products {
	.main_wrapper {
		max-width: 100%;
	}
	#full_bg {
		height: 452px;
		z-index: -1;
		position: absolute;
		top: -2px;
		left: 0px;
		background: #ef0105;
		background: -moz-linear-gradient(top, #ef0105 0%, #ffd2ad 100%);
		background: -webkit-linear-gradient(top, #ef0105 0%,#ffd2ad 100%);
		background: linear-gradient(to bottom, #ef0105 0%,#ffd2ad 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef0105', endColorstr='#ffd2ad',GradientType=1 );
	}
	#products_finder_section {
		padding: 130px 0px 0px 0px;
		@media only screen and (min-width: 992px) {
			width: 946px;
		}
		margin-left: auto;
		margin-right: auto;
	}
	#products_finder_wrapper {
		height: 320px;
		background: url("/img/product_finder_bg1.png"), $mainRed;
		background-position: top;
	  background-size: contain;
	  background-repeat: no-repeat;
	}
	#left_product_finder_wrapper {
		width: 100%;
		.product_finder_title {
			margin-top: 23px;
			margin-bottom: 80px;
			.product_finder_title_text {
				color: white;
				h2, p {
					font-size: 20px;
				}
			}
		}
		.product_finder_form_wrapper {
			label {
				color: $mainOrange;
				font-size: 14px;
			}
			select {
				font-size: 16px;
				color: $mainRed;
				background: white;
    		border: none;
			}
		}
		#search_product_icon {
			margin-left: 26px;
			margin-top: 9px;
			margin-right: 17px;
		}
	}
	#right_product_info_wrapper {
		position: relative;
		.number_title_wrapper {
			margin-top: 35px;
			margin-bottom: 23px;
			min-height: 47px;
		}
		.section_number {
			width: 103px;
			margin-left: 22px;
			h2 {
				font-size: 78px;
				line-height: 47px;
				color: white;
			}				
		}
		.section_title {
			height: 100%;
			margin: 0px;
	  		border-left: 1px solid white;
	  		padding-left: 16px;
			h2 {
				margin-bottom: 0px;
				font-size: 20px;
				color: white;	
			}
		}
		.paragraph_wrapper {
			width: 540px;
			height: 100%;
			overflow-y: scroll;
			padding: 30px 25px 0px 30px;
			background: white;
			color: $mainRed;
			p {
				font-size: 14px;
				margin-bottom: 30px;
			}
		}
	}
	#products_section {
		.product {
			text-decoration: none;
			cursor: pointer;
			-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		    flex: 0 0 100%;
		    margin: 0px 53px 90px 53px;
		    max-width: 289px;
			width: 289px;
			// flex: 0 0 289px;
			// margin-bottom: 90px;
			&__img {
				height: 334px;
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				background: #ef0105;
				background: -moz-linear-gradient(left, #ef0105 0%, #ffd2ad 100%);
				background: -webkit-linear-gradient(left, #ef0105 0%,#ffd2ad 100%);
				background: linear-gradient(to right, #ef0105 0%,#ffd2ad 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef0105', endColorstr='#ffd2ad',GradientType=1 );
			}
			&__category {
				color: $mainRed;
				&--brand {
					font-size: 16px;
				}
				&--series {
					font-size: 15px;
					font-weight: 400;
				}
			}
			&__name {
				font-size: 20px;
				font-weight: 400;
				color: $grey;
			}
		}
	}
	#products_section {
		@media only screen and (min-width: 768px) and (max-width: 1279px) {
			width: calc(395px * 2);
		}
		@media only screen and (min-width: 1280px) {
			width: calc(395px * 3);
			margin: 95px auto 210px auto;
		}
		@media only screen and (min-width: 1600px) {
			width: calc(395px * 4);
			margin-top: 84px;
		}
	}
	@media only screen and (max-width: 767px) {
		#products_finder_section {
   		padding: 180px 0px 0px 0px;
   		#products_finder_wrapper {
   			background: $mainRed;
	   		flex-direction: column;
	   		#left_product_finder_wrapper {
	   			label[for='product_category'] {
						margin-bottom: 10px;
	   			}
	   			.product_finder_title {
		   			margin-bottom: 55px;
		   		}
		   	}
   		}
   	}
   	#products_section {
   		justify-content: center !important;
   		width: 100%;
   		margin-top: 50px;
   		.product_wrapper {
   			margin-bottom: 50px;
   		}
   	}
	}
	@media only screen and (min-width: 415px) and (max-width: 768px) {
		#products_section {
			.product_wrapper:nth-child(odd) {
				margin-right: 45px;
			}
		}
	}
}