body.stories.show {
	footer {
		width: 100%;
		align-self: flex-end;
		#copyright { width: 100%; }
	}
	.main_wrapper {
		height: 100vh;
		max-width: 100%;
		max-height: 800px;
	}
	#download_bg_wrapper {
		position: relative;
		#download_bg {
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: -1;
			height: 100vh;
			max-height: 800px;
			width: 100%;
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef0105', endColorstr='#ffd2ad',GradientType=1 );
			background-size: contain;
			background-repeat: no-repeat;	
			background-position: center;
		}
	}
	#download_items_section {
		margin-top: 190px;
		min-width: 640px;
		position: relative;
		.section_title_wrapper {
			position: absolute;
			left: 0px;
			transform: translateX(-50%);
		}
		#right_half {
			// height: calc(100vh - 113px - 70px); // - navbarHeight - logoHeight
			width: 100%; // .main_wrapper limit to 1280px max
			padding: 0px 50px 100px 50px;
			min-height: calc(100vh - 150px);
			.download-item {
				margin-bottom: 60px;
				height: 110px;
				position: relative;
				.story-date {
					font-size: 22px;
					color: $mainRed;
				}
				.story-title {
					font-size: 40px;
					padding-bottom: 20px;
					margin-top: 50px;
					margin-bottom: 20px;
					border-bottom: 1px solid $mainRed;
					color: $mainRed;
				}
				p {
					min-height: 190px;
					font-size: 18px;
					color: $mainRed;
				}
				#back_btn {
					margin-left: 15px;
				}
			}
		}
	}
	@media only screen and (max-width: 768px) {
		.main_wrapper {
			height: auto;
			max-height: initial;
		}
		#download_sections_wrapper {
			flex-direction: column;
		}
		#download_bg_section {
			height: 282px;
			#download_bg {
				height: 282px;
			}
		}
		#download_items_section {
			min-width: 100vw;
			margin-top: 30px;
			#right_half {
				padding: 0px 25px 100px 25px;
				.download-item {
					height: auto;
					#back_btn {
						margin-left: 10px;	
					}
				}
			}
		}
	}
}