body.pages {
	.main_wrapper {
		max-width: 1280px;
		margin-right: auto;
		margin-left: auto;
	}
}

#see_more_btn {
	width: 224px;
	height: 40px;
	cursor: pointer;
	text-decoration: none;
	background: #ef0105;
	background: -moz-linear-gradient(left, #ef0105 0%, #ffd2ad 100%);
	background: -webkit-linear-gradient(left, #ef0105 0%,#ffd2ad 100%);
	background: linear-gradient(to right, #ef0105 0%,#ffd2ad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef0105', endColorstr='#ffd2ad',GradientType=1 );
	.see_more_text {
		color: white;
		font-size: 18px;
		margin-left: 20px;
	}
	.hover-bg {
		width: 0px;
		position: absolute;
    z-index: -1;
    right: 0px;
    height: 100%;
    background: -moz-linear-gradient(left, #ffd2ad 0%, #ef0105 100%);
		background: -webkit-linear-gradient(left, #ffd2ad 0%,#ef0105 100%);
		background: linear-gradient(to right, #ffd2ad 0%,#ef0105 100%);
	  transition: all 0.2s;
	}
	&:hover {
		.hover-bg {
			width: 100%;   
		}	
	}
}

#contact_btn {
	position: fixed;
	width: 100px;
	height: 100px;
	right: 30px;
	bottom: 34px;
	// top: 666px;
	// z-index: $zindex-tooltip + 1; // 1071 配合 menu
	.menu_active {
		// z-index: $zindex-tooltip + 3; // 1073 配合 footer (which is menu + 1)
	}
}

.section_title_wrapper {
	position: relative;
	&.middle_bar:before {
		content: ' ';
    background: red;
    width: 1px;
    height: 163px;
    position: absolute;
    left: 50%;
    top: calc((60px - 163px) / 2);
    z-index: -1;	
	}
}