$mainRed: #ef0105;
$mainOrange: #ffd2ad;

#triangle-right {
	width: 0;
	height: 0;
	border-left: 8px solid white;
	border-right: 8px solid transparent;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}