@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

/// font-family
.v300 {
	font-family: 'viato-n3',"viato", Noto Sans TC, PingFangTC-Light, xingothic-tc, sans-serif, Microsoft JhengHei;
	font-weight: 300;
}
.v400 {
	font-family: 'viato-n4',"viato", Noto Sans TC, PingFangTC-Regular, xingothic-tc, sans-serif, Microsoft JhengHei;
	font-weight: 400;
}
.v700 {
	font-family: 'viato-n7',"viato", Noto Sans TC, PingFangTC-Semibold, xingothic-tc, sans-serif, Microsoft JhengHei;
	font-weight: 700;
}