$rightWidth: 640px;
body.products.show {
	footer {
		#copyright { width: 100%; }
	}
	@media only screen and (max-width: 768px) {
		#main_footer {
			height: 350px;
			padding-top: 120px;
		}
	}
	[id^=select2-product_variety_name-result-] {
		font-size: 16px;
		font-family: 'viato-n7',"viato", Noto Sans TC,PingFangTC-Semibold, xingothic-tc, sans-serif, Microsoft JhengHei;
		font-weight: 700;
		padding-left: 12px;
	}
}

#product_images_section {
	height: 717px;
	#product_images_wrapper {
		height: 100%;
		position: relative;
		#product_active_image {
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: -1;
			height: 100%;
			width: 100%;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			// background: #ef0105;
			// background: -moz-linear-gradient(left, #ef0105 0%, #ffd2ad 100%);
			// background: -webkit-linear-gradient(left, #ef0105 0%,#ffd2ad 100%);
			// background: linear-gradient(to right, #ef0105 0%,#ffd2ad 100%);
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef0105', endColorstr='#ffd2ad',GradientType=1 );
		}
		#product_image_thumbs_wrapper {
			margin-bottom: 28px;
		}
		.product_image_thumb {
			img {
				height: 100%;
			}
			cursor: pointer;
			width: 90px;
			height: 90px;
			&:not(:last-child) { margin-right: 10px; }
			background: white;
		}
	}
}

#product_data_section {
	margin-top: 150px;
	min-width: $rightWidth;
	width: $rightWidth;
	#product_data_wrapper {
		padding: 0px 104px;
	}
	.product_brand_series {
		color: $mainRed;
		.product_brand {
			font-size: 16px;
		}
		.product_series {
			font-size: 15px;
			font-weight: 400;
		}
	}
	.product_variety_name {
		margin-top: 20px;
		label {
			color: $mainRed;
			border: 1px solid $mainRed;
			padding: 0px 8px;
			line-height: 40px;
			font-size: 16px;
		}
	}
	.product_name {
		margin-top: 45px;
		font-size: 30px;
		color: $grey;
	}
	#select2-product_variety_name-container {
		border: 1px solid $mainRed;
	}
	.select2-selection.select2-selection--single:focus { outline: 0; }
	.product_block_title {
		border-bottom: 1px solid $grey;
		font-size: 18px;
		padding-bottom: 6px;
		padding-left: 5px;
		margin-bottom: 17px;
	}
	.product_detail {
		margin-top: 77px;
	}
	.product_detail_content {
		font-weight: 200;
		font-size: 16px;
		padding-left: 5px;
		font-family: 'Noto Sans TC', sans-serif;
		line-height: 28px;
	}
	#see_more_btn {
		width: 100%;
		margin-top: 40px;
		.download_dm_text {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.product_comparison {
		margin-top: 60px;
		position: relative;
		.product_comparison_table_wrapper {
			table.table {
				tr {
			    height: 50px;
				}
				tr:nth-child(even) {
					background: #f2f2f2;
				}
				th, td {
					border: 1px solid #ccc;
			    border-top-color: transparent;
			    border-bottom-color: transparent;
			    padding: 1rem 2rem;
			    font-size: 14px;
			    color: #4d4d4d;
			    &.chinese {
			    	font-size: 15px;
			    }
				}
				tr:not(:first-child) .chinese {
					font-weight: 200;
				}
			}
			tr.attribute_names {
				th {
					border-top-color: transparent;
					&.chinese:not(:first-child) {
						font-weight: 200;
					}
				}
			}
			.table.copied_header {
				position: absolute;
				left: -7px; // 為了蓋住左邊不知道為啥會透光
				background: white;
				box-shadow: 7px 2px 8px -4px #ddd;
				tr th:first-child {
					border-top-color: transparent;
				}
				tr th {
					border-left-color: transparent;
				}
			}
		}
	}
	.product_related {
		margin: 90px 0px;
		.product_wrapper {
			width: 200px;
			height: 320px;
			margin-bottom: 25px;
			text-decoration: none;
			.product_brand_series {
				color: $mainRed;
				.product_brand {
					font-size: 16px;
				}
				.product_series {
					font-size: 15px;
					font-weight: 400;
				}
			}
			.product_name {
				margin-top: 5px;
				font-weight: 200;
				line-height: 26px;
				font-size: 18px;
				color: $grey;
			}
			.product_img {
				height: 233px;
				background: grey;
				margin-bottom: 10px;
			}
		}
	}
	@media only screen and (max-width: 768px) {
		margin-top: 200px;
		min-width: auto;
		width: 100%;
		h2.product_name {
			margin-bottom: 30px;
		}
		#product_images_section {
			height: calc(100vw + 90px + 28px + 10px);  // #product_image_thumbs_wrapper margin
			#product_images_wrapper {
				#product_active_image {
					width: 100vw;
					height: 100vw;
					left: -30px; // #product_data_wrapper padding
				}
				#product_image_thumbs_wrapper {
					margin: 10px 0px 28px 0px;
					max-width: 290px;
					overflow-x: scroll;
					.product_image_thumb {
						min-width: 90px;
					}
				}
			}
		}
		#product_data_wrapper {
			padding: 0px 30px;
		}
		.product_comparison {
			margin-top: 90px;
		}
	} // END media query max 768px
} // END #product_data_section