body.products {
	.select2-container {
		display: block;
		width: auto !important;
	}
	.select2-container--default .select2-selection--single {
		border: none;
		border-radius: 0px;
		height: 40px;
		.select2-selection__rendered {
			color: $mainRed;
			line-height: 40px;
			padding-left: 12px;
			padding-right: 40px;
			font-size: 16px;
			font-family: 'viato-n7',"viato", Noto Sans TC,PingFangTC-Semibold, xingothic-tc, sans-serif, Microsoft JhengHei;
			font-weight: 700;
		}
		.select2-selection__arrow {
			height: 40px;
			b {
				border-color: $mainRed transparent transparent transparent;
				border-width: 10px 8px 0 8px;
				left: 0px;
				top: calc(50% - 4px);
			}
		}
	}
	.select2-container--default .select2-results__option {
		background-color: $mainRed;
		color: white;
		padding: 6px 8px 6px 10px;
	}
	[id^=select2-product_category-result-], [id^=select2-product_brand-result-] {
		font-size: 16px;
		font-family: 'viato-n7',"viato", Noto Sans TC,PingFangTC-Semibold, xingothic-tc, sans-serif, Microsoft JhengHei;
		font-weight: 700;
	}
	.select2-container--default .select2-results__option--highlighted[aria-selected] {
		background-color: $mainRed;
		border-left: 1px solid $mainOrange;
	}
	#select2-product_series-container, [id^=select2-product_series-result-] {
		font-size: 15px;
		font-weight: 400;
	}
	label[for="product_category"] {
		width: 100%;
		padding: 0px 13px;
	}
	.two_selects_wrapper {
  	padding: 0px 13px;
  	label[for="product_brand"], label[for="product_series"] {
			width: 50%;
			padding: 0px;
		}
  }
}