<div class="content">
	<div class="container ml-0" style="max-width: 450px;">
		<div class="card ">
			<div class="card-header card-header-warning card-header-icon">
				<div class="card-icon">
					<i class="material-icons">dashboard</i>
				</div>
				<h4 class="card-title">更改管理者密碼</h4>
			</div>
			<%= render "form", user: @user %>
		</div>
	</div>
</div>