<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="card ">

					<div class="card-header card-header-warning card-header-icon">
						<div class="card-icon">
							<i class="material-icons">library_books</i>
						</div>
						<h4 class="card-title">編輯目錄</h4>
					</div>
					<%= render "form", catalogue: @catalogue %>
				</div>
			</div>
		</div>
	</div>
</div>