<footer class="footer">
	<div class="footer__top-bar"></div>
	<div class="footer__content">
		<div class="footer__logo-name">
			<img src="/img/logo 2.svg" class="footer__logo">
			<p class="footer__company-name d-lg-inline-block">弘優科技有限公司</p>
		</div>
		<p class="footer__phone v300">
			TEL : +886-2-8531-5388<br>
			FAX : +886-2-8531-5386
		</p>
		<p class="footer__address v300">
			<span class="d-lg-none">地址：</span>台北縣泰山鄉福興二街68號<br>
			No.68, Fuxing 2nd St., Tai Shan Shiang,<br class="d-lg-block"> Taipei County 24341, Taiwan.
		</p>
		<div class="footer__copyright v300">
			<span class="footer__copyright--icon">&#x24B8;</span> Made with <span class="d-lg-none"><img src="/img/love.svg" style="height: 24px;"> LOVE</span><span class="d-none d-lg-inline">love</span> by Hong U scientific corp.
		</div>
	</div>
</footer>