<footer>
	<div id="footer_top"></div>
	<div id="main_footer" class="text-center">
		<img src="/img/logo 2.svg" style="width: 130px;">
		<div id="copyright" class="v700">
			&#x24B8; Made with <img src="/img/love.svg" style="height: 24px;"> LOVE by Hong U scientific corp.
		</div>
	</div>
</footer>