<footer class="footer">
	<div class="footer__top-bar"></div>
	<div class="footer__content">
		<img src="/img/logo 2.svg" class="footer__logo">
		<p class="footer__contact v300">
			弘優科技有限公司<br>
			TEL：+886-2-8531-5388<br>
			FAX：+886-2-8531-5386<br>
			地址：台北縣泰山鄉福興二街68號<br>
			No.68, Fuxing 2nd St., Tai Shan Shiang, Taipei County 24341, Taiwan.
		</p>
		<div class="footer__copyright v300">
			&#x24B8; Made with <img src="/img/love.svg" style="height: 24px;"> LOVE by Hong U scientific corp.
		</div>
	</div>
</footer>