<nav class="navbar navbar-light align-items-start">
	<img id="logo" src="/img/logo.svg"></img>
	<div id="menu-wrapper">
		<div class="toggler d-flex justify-content-center align-items-center flex-column">
			<hr>
			<hr>
			<hr>
		</div>
		<div class="menu-title text-center v700">
			MENU
		</div>
	</div>
</nav>